@{
    ViewData["Title"] = "Submitted Form";
}

<div class="text-center">
    <h1 class="display-4">Here's the data you submitted</h1>
    <h3>Email: @ViewBag.Email</h3>
    <h3>Password: @ViewBag.Password</h3>
    <h3>CheckValue: @ViewBag.CheckValue</h3>
</div>
