* {
    padding: 0;
    margin: 0;
}
.pageContent {
    background-color: #D5D2AE;
    width: 650px;
    padding: 20px 20px 1px 20px;
}
.titleBar {
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    justify-content: center;
    align-items: baseline;

    
}
.titleBar div {
    vertical-align: text-bottom;
    margin-bottom: 20px;
}
.titleBar img {
    height: 50px;
    width: 50px;
}

.iconBorder {
    border: solid black 5px;
    height:15%;
    width:15%;
}

.iconBorder img {
    height: 70%;
    width: 81%;
    border: solid 10px red;
    margin-bottom: -5px;
}
.iconRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.iconBorder .icon2 {
    height: 70%;
    width: 81%;
    border: solid 10px transparent;
    margin-bottom: -5px;    
}

