{% extends "base.html" %}

{% block title %}Message Wall{% endblock %}

{% block content %}
<div class="jumbotron p-5 d-flex justify-content-around">
    <div class="d-flex flex-column p-0 col-12">
        {% csrf_token %}
        <div class="card col-12">
            <div class="card-body">
                <h3 class="card-title">Post a message</h3>
            </div>
            <div class="card-body">
                <textarea name="" id="message_body" rows="2" class="col-12"></textarea>
            </div>
            <div class="card-body">
                <button id="post_message_button" class="btn btn-primary">Post a message</button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron p-2 d-flex flex-column">
    <h3>Messages</h3>
    <div id="messages_list" class="d-flex flex-column p-0 col-12">
        <!-- <div class="card col-12">
            <div class="card-body">
                Joe Blow 2/14/2020 15:32: We should have more pizza in the cafeteria
            </div>
            <h5>Comments</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Sarah Connor 2/14/2020 15:32: Nuh-uhn</li>
                <li class="list-group-item">Gar Goo 2/14/2020 15:32: Yuh-hunh!</li>
            </ul>
            <div class="card-body">
                <textarea name="" id="comment_body" rows="2" class="col-12"></textarea>
                <button message_id="1" class="post_comment_button btn btn-primary">Post a comment</button>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    csrfToken = $('input[name ="csrfmiddlewaretoken"]')[0].value
    function add_message(message_text) {
        $.ajax({
            url: "/wall/add_message",
            type: "POST",
            data: { 
                "message_text" : message_text,
                "csrfmiddlewaretoken" : csrfToken, 
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                load_messages();
            }
        });
    }
    function add_comment() {
        message_id = $(this).attr('message_id');
        comment_text = $(`#comment_box_${message_id}`).val();
        $.ajax({
            url: "/wall/add_comment",
            type: "POST",
            data: { 
                "csrfmiddlewaretoken" : csrfToken,
                "message_id" : message_id,
                "comment_text" : comment_text,
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                load_messages();
            }
        });
    }
    function load_messages() {
        $.ajax({
            url: "/wall/get_messages",
            type: "POST",
            data: { 
                "csrfmiddlewaretoken" : csrfToken, 
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                message_list_html = ""
                resp.messages.forEach(x => {
                    comments_html = ""
                    x.comments.forEach(c => {
                        comments_html += `<li class="list-group-item">${c}</li>`;
                    });
                    message_list_html += `
                    <div class="card col-12">
                        <div class="card-body">
                            ${x.user_email} ${x.created_at}: ${x.message_text}
                        </div>
                        <h5>Comments</h5>
                        <ul class="list-group list-group-flush">
                            ${comments_html}
                        </ul>
                        <div class="card-body">
                            <textarea name="" id="comment_box_${x.id}" rows="2" class="comment_body col-12"></textarea>
                            <button message_id="${x.id}" class="post_comment_button btn btn-primary">Post a comment</button>
                        </div>
                    </div>`;
                });
                $('#messages_list').html(message_list_html);
                $('.post_comment_button').click(add_comment);
            }
        });
    }
    load_messages();
    $('#post_message_button').click(
        function() {
            message_text = $('#message_body').val();
            add_message(message_text);
        }
    )
</script>
{% endblock %}
