{% extends "base.html" %}

{% block title %}Books Home{% endblock %}

{% block content %}
<div class="jumbotron p-5 d-flex flex-column flex-lg-row justify-content-between">
    {% csrf_token %}
    <div class="d-flex flex-column col-12 p-0">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Title: {{ book.title }}</h1>
                <h1 class="card-title">Author: {{ book.author.name }}</h1>
            </div>
            {% if "logged_in_user" in request.session %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-column flex-lg-row">
                    <label class="col-12 col-lg-3 p-0" for="review_text">Review</label>
                    <input class="col-12 col-lg-8" type="text" name="review_text" id="review_text" value="">
                </li>
                <li class="list-group-item d-flex flex-column flex-lg-row">
                    <label class="col-12 col-lg-3 p-0" for="stars">Stars</label>
                    <select name="stars" id="stars">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </li>
            </ul>
            <div class="card-body">
                <button id="add_review_button" class="btn btn-primary col-6">Add Review</button>
            </div>
            {% endif %}
        </div>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Reviews</h1>
            </div>    
            <ul class="list-group list-group-flush" id="review_list">
                <li class="list-group-item d-flex flex-column flex-lg-row">
                    This was a good book. joe@foo.com - 1/1/2020
                </li>
                <li class="list-group-item d-flex flex-column flex-lg-row">
                    This was a bad book. joe@foo.com - 1/1/2020
                </li>
            </ul>          
        </div>
    </div>
{% endblock %}
{% block script %}
<script>
    csrfToken = $('input[name ="csrfmiddlewaretoken"]')[0].value
    function add_review(book_id, review_text, reviewer_email, stars) {
        $.ajax({
            url: "/books/add_review",
            type: "POST",
            data: { 
                "book_id" : book_id,
                "review_text" : review_text,
                "reviewer_email" : reviewer_email,
                "stars" : stars,
                "csrfmiddlewaretoken" : csrfToken, 
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                console.log(`${resp.status} : ${resp.message}`);
                load_reviews();
            }
        });
    }
    function delete_review_click() {
        review_id = $(this).attr("review_id")
        $.ajax({
            url: "/books/delete_review",
            type: "POST",
            data: { 
                "review_id" : review_id,
                "csrfmiddlewaretoken" : csrfToken, 
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                console.log(`${resp.status} : ${resp.message}`);
                load_reviews();
            }
        });
    }
    $('#add_review_button').click(function(){
        book_id = {{ book.id }};
        review_text = $('#review_text').val();
        stars = $('#stars').val();
        reviewer_email = '{{ request.session.user_email }}';
        add_review(book_id, review_text, reviewer_email, stars);
    })
    function load_reviews() {
        logged_in_user = "{{ request.session.user_email }}"
        $.ajax({
            url: "/books/get_reviews",
            type: "POST",
            data: { 
                "csrfmiddlewaretoken" : csrfToken,
                "book_id" : {{ book.id }},
                },
            cache:false,
            dataType: "json",
            success: function(resp){
                review_list_html = ""
                resp.reviews.forEach(x => {
                    if (x.reviewer == logged_in_user) {
                        review_list_html += `
                        <li class="list-group-item">
                            <div>
                                ${x.review_text}<br>
                                ${x.stars_html}<br>
                                <button class="btn btn-primary btn-sm delete_review_button" review_id="${x.review_id}">Delete</button> - ${x.reviewer} - ${x.created_at}
                            </div>           
                        </li>`;
                    } else {
                    review_list_html += `
                        <li class="list-group-item">
                            <div>
                                ${x.review_text}<br>
                                ${x.stars_html}<br>
                                ${x.reviewer} - ${x.created_at}
                            </div>
                        </li>`;
                    }
                });
                $('#review_list').html(review_list_html);
                $('.delete_review_button').click(delete_review_click);
            }
        });
    }
    load_reviews();
</script>
{% endblock %}
