@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">About me</h1>
    <h3>Name: @ViewBag.Name</h3>
    <h3>Description: @ViewBag.Intro</h3>
    <h3>Bio: @ViewBag.Bio</h3>
</div>
