{% extends "base.html" %}

{% block title %}View Shows{% endblock %}

{% block content %}
<div class="jumbotron p-5">
    <h1>Shows</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Network</th>
            <th scope="col">Release Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for show in shows %}
          <tr>
            <th scope="row">{{ show.id }}</th>
            <td>{{ show.title }}</td>
            <td>{{ show.network.name }}</td>
            <td>{{ show.release_date|date:'m/d/Y'}}</td>
            <td>
                <a href="/shows/{{ show.id }}">Show</a> | 
                <a href="/shows/{{ show.id }}/edit">Edit</a> |
                <a href="/shows/post?post_action=Delete&show_id={{ show.id }}">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}