<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <style>
        form {
            display: flex;
            flex-flow: column;
            width: 30%;
        }
    </style>
</head>

<body>
    <form action="/submitted_info" method="POST">
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name">
        <label for="location">Location:</label>
        <select name="location" id="location">
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            <option value="New York">New York</option>
        </select>
        <label for="favorite_language">Location:</label>
        <select name="favorite_language" id="favorite_language">
            <option value="Python">Python</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C#">C#</option>
        </select>
        <label for="comment">Your comment:</label>

        <textarea id="comment" name="comment" rows="4" cols="50">
        </textarea>
        <input type="submit">Send your form</input>
    </form>
</body>

</html>