/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
   }

   #header{
    min-height: 150px;
    background-color: green;
    margin-bottom: 20px;
   }
   #navigation{
    min-height: 300px;
    width: 18%;
    background-color: blue;
    vertical-align: top;
    display: inline-block;
    margin-right: 2%;
   }
   #main_content{
    min-height: 400px;
    width: 76%;
    background-color: red;
    display: inline-block;
    padding: 2% }
   .subcontentblock {
    margin-bottom: 2%;
   }
   .subcontents{
    min-height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
   }
   .middlesubcontent {
       margin-left: 10px;
       margin-right: 10px;
   }
   #advertisement{
    min-height: 120px;
    width: 630px;
    background-color: purple;
   }