{% extends "base.html" %}

{% block title %}Login Succeeded{% endblock %}

{% block content %}
<div class="jumbotron p-5 d-flex justify-content-around">
    <form class="d-flex flex-column col-12 col-lg-5 p-0" action="#" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Login Succeeded</h1>
            </div>
            <div class="card-body">
                <h5>Welcome, FirstName LastName!</h5>
            </div>
            <div class="card-body">
                <button class="btn btn-primary col-6">Logout</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}
